<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="../static/style.css">
  <link rel="icon" type='image/png' href="../static/img/favicon.png">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <title>Add Filme</title>
  
</head>
<body class="home">
  {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %} {% if category ==
    'error' %}
    <div class="alert alert-add alert-danger alter-dismissable fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% else %}
    <div class="alert alert-add alert-success alter-dismissable fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endif %} {% endfor %} {% endif %} {% endwith %}
  <a class="corner-button" href="http://127.0.0.1:5000/logout">
    <i class="bi bi-box-arrow-right"></i> SAIR</a>
  <div class="sidebar">
    <div class="buttons">
      <ul class="img">
        <img src="../static/img/logotipo.png" alt="logotipo" height="60" width="180">
      </ul>
      <img class="img-perfil" src="../static/img/perfil.jpg" alt="perfil">
      <a class="nav-link active" aria-current="page" href="">
        <i class="bi bi-person"></i> Perfil
      </a>
      <a class="nav-link active" aria-current="page" href="http://127.0.0.1:5000/movies_page">
        <i class="bi bi-film"></i> Lista de Filmes
      </a>
      <a class="nav-link active" aria-current="page" href="http://127.0.0.1:5000/home">
        <i class="bi bi-heart-fill"></i> Meus Filmes
      </a>
      <a class="nav-link active" style="background-color: rgba(44, 139, 255, 0.744);" aria-current="page" href="http://127.0.0.1:5000/add_movie">
        <i class="bi bi-bookmark-plus-fill"></i> Registrar Novo Filme
      </a>
    </div>
  </div>
  <section class="content">
    <div class="mb-3 container">
      <form method="POST" enctype="multipart/form-data">
        <h2>Insira os dados do filme</h2>
      <div class="form-group">
        <label for="film-name">Nome do Filme</label>
        <input
          type="text"
          class="form-control"
          id="film-name"
          name="film-name"
          placeholder="Insira o nome do filme"
        />
      </div>
      <div class="form-group">
        <label for="director">Diretor</label>
        <input
          type="text"
          class="form-control"
          id="director"
          name="director"
          placeholder="Insira o nome do diretor"
        />
      </div>
      <div class="form-group">
        <label for="year">Ano de lançamento</label>
        <input
          type="text"
          class="form-control"
          id="year"
          name="year"
          placeholder="Insira o ano de lançamento do filme"
        />
      </div>
      <div class="form-group">
        <label for="time-minutes">Tempo de duração</label>
        <input
          type="text"
          class="form-control"
          id="time-minutes"
          name="time-minutes"
          placeholder="Informe a duração em minutos do filme"
        />
      </div>
      <div class="form-group">
        <label for="genero">Gênero</label>
        <input
          type="text"
          class="form-control"
          id="genero"
          name="genero"
          placeholder="Informe o gênero do filme"
        />
      </div>
      <div class="form-group">
        <label for="genero">Sinopse</label>
        <textarea
          type="text"
          class="form-control"
          id="sinopse"
          name="sinopse"
          placeholder="Informe uma breve sinopse do filme"
        ></textarea>
      </div>
      <div>
        <label for="imagem" class="custom-upload"><i class="bi bi-card-image"></i> Pôster ou cartaz do filme</label>
        <input 
          type="file" 
          name="image"
        />
      </div>
      <br />
      <button type="submit" class="btn">Enviar</button>
    </form>
    </div>
  </section>
</body>
<html>
