<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="../static/style.css">
  <link rel="icon" type='image/png' href="../static/img/asset-15.png">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <title>Login</title>
</head>
<body>
  <h1>Lista de Filmes</h1>
  <ul>
      {% for filme in filmes %}
          <li>{{ filme.titulo }}</li>
          <!-- Exibir outros detalhes do usuário, se necessário -->
      {% endfor %}
  </ul>
</body>
<h2>VASCO</h2>