<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="../static/style.css">
  <link rel="icon" type='image/png' href="../static/img/favicon.png">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <title>Home</title>
</head>
<body class="home">
  <a class="corner-button" href="/logout">
    <i class="bi bi-box-arrow-right"></i> Sair</a>
  <div class="sidebar">
    <div class="buttons">
      <ul class="img">
        <img src="../static/img/logotipo.png" alt="logotipo" height="60" width="180">
      </ul>
      {% if current_user.path_profile_pic %}
        <img class="img-perfil" src="{{ url_for('static', filename=current_user.path_profile_pic) }}" alt="perfil">
      {% else %}
        <img class="img-perfil" src="../static/img/perfil.jpg" alt="perfil">
      {% endif %}
      <h1 class="profile_name">{{ current_user.primeiro_nome }}</h1>
      <a class="nav-link active" aria-current="page" href="/perfil">
        <i class="bi bi-person"></i> Perfil
      </a>
      <a class="nav-link active" aria-current="page" href="/movies_page">
        <i class="bi bi-film"></i> Lista de Filmes
      </a>
      <a class="nav-link active" aria-current="page" href="/home">
        <i class="bi bi-heart-fill"></i> Filmes Assistidos
      </a>
      <a class="nav-link active" aria-current="page" href="/add_movie">
        <i class="bi bi-bookmark-plus-fill"></i> Registrar Novo Filme
      </a>
    </div>
  </div>

  <div class="conteudo-principal">
    <div class="info-filme">
      <img src="{{ url_for('static', filename=filme.image_path) }}" alt="Cartaz do Filme">
      <a href="{{ url_for('views.add_movie_click', filme_id=filme.id) }}" >
        <button class="adicionar-movie-page" data-id="{{ filme.id }}"><i class="bi bi-check-circle">  </i> Assistido</button>
      </a>
      <div class="filme-titulo">
        <h2><span>{{ filme.titulo }}</span></h2>
      </div>
      <div class="filme-dados">
        <p>Ano de Lançamento: <b style="color: rgb(77, 157, 255);">{{ filme.ano }}</b></p>
        <p>Diretor: <b style="color: rgb(77, 157, 255);">{{ filme.diretor }}</b></p>
        <p>Gênero: <b style="color: rgb(77, 157, 255);">{{ filme.genero }}</b></p>
        <p class="tempo">Tempo de duração: <b style="color: rgb(77, 157, 255);">{{ filme.minutos }} minutos</b></p>
        <p class="sinopse"><b style="color: rgb(77, 157, 255);">Sinopse:</b> {{ filme.sinopse }}</p>
      </div>
    </div>
  </div>
</body>
<html>
