<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="../static/style.css">
  <link rel="icon" type='image/png' href="../static/img/favicon.png">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <title>Home</title>
</head>
<body class="home">
  <a class="corner-button" href="http://127.0.0.1:5000/logout">
    <i class="bi bi-box-arrow-right"></i> Sair</a>
  <div class="sidebar">
    <div class="buttons">
      <ul class="img">
        <img src="../static/img/logotipo.png" alt="logotipo" height="60" width="180">
      </ul>
      {% if current_user.path_profile_pic %}
        <img class="img-perfil" src="{{ url_for('static', filename=current_user.path_profile_pic) }}" alt="perfil">
      {% else %}
        <img class="img-perfil" src="../static/img/perfil.jpg" alt="perfil">
      {% endif %}
      <h1 class="profile_name">{{ current_user.primeiro_nome }}</h1>
      <a class="nav-link active" aria-current="page" href="">
        <i class="bi bi-person"></i> Perfil
      </a>
      <a class="nav-link active" style="background-color: rgba(44, 139, 255, 0.744);" aria-current="page" href="http://127.0.0.1:5000/movies_page">
        <i class="bi bi-film"></i> Lista de Filmes
      </a>
      <a class="nav-link active" aria-current="page" href="http://127.0.0.1:5000/home">
        <i class="bi bi-heart-fill"></i> Filmes Assistidos
      </a>
      <a class="nav-link active" aria-current="page" href="http://127.0.0.1:5000/add_movie">
        <i class="bi bi-bookmark-plus-fill"></i> Registrar Novo Filme
      </a>
    </div>
  </div>
  
  <div class="conteudo grid-filmeslist">
    <h1 class="titulo">Lista de Filmes:</h1>
    <div class="grid-filmes">
        {% for filme in filmes %}
            <div class="filme">
              <a href="{{ url_for('views.show_movie', filme_id=filme.id) }}" >
                <img src="{{ url_for('static', filename=filme.image_path) }}" alt="{{ filme.titulo }}">
                <p>{{ filme.titulo }}</p>
              </a>
              <div class="popup popup-left">
                <p class="filme-titulo">{{ filme.titulo }}</p>
                <p class="filme-infos"><strong>Ano de Lançamento: </strong>{{ filme.ano }}</p>
                <p class="filme-infos"><strong>Diretor: </strong>{{ filme.diretor }}</p>
                <p class="filme-infos p-border-bottom"><strong>Gênero: </strong>{{ filme.genero }}</p>
                <a href="{{ url_for('views.add_movie_click', filme_id=filme.id) }}" >
                  <button class="adicionar" data-id="{{ filme.id }}"><i class="bi bi-check-circle">  </i> Assistido</button>
                </a>
              </div>
            </div>
        {% endfor %}
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="../static/script.js"></script>
</body>
<html>
