@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

html, body{
    
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    background-image: url("./img/background_home2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.alert {
    margin-top: 80px;
}

.background {
    height: 100%;
    width: 100%;
    background-color: #00000081;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
  

#navbar {
    position: absolute;
    top: 0;
    background: #222222;
    overflow-x: auto;
    width: 100%;
    height: 80px;
    transition: all ease-in-out 0.5s;
    z-index: 9997;
}

#navbar img {
    height: 42;
    width: 120;
}

#navbar a {
    padding: 5px 8px;
    font-weight: bolder;
    border-radius: 6px;
    font-size: 18px;
    padding-right: -10rem;
    color: #ffffff;
    text-align: right;
}

#navbar a:hover {
    background-color: rgba(44, 139, 255, 0.652)
}

#main_login {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main_signup {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main_login .container {
    background: #00000098;;
    margin-top: 100px;
    border-radius: 5px;
    width: 600px;
    height: 250px;
}

#main_signup .container {
    background: #00000098;;
    margin-top: 100px;
    border-radius: 5px;
    width: 600px;
    height: 400px;
}

#main_signup .container .form-group label{
    margin-top: 20px;
    color: #ffffff;
}

#main_login .container .form-group label{
    margin-top: 20px;
    color: #ffffff;
}

#inicio .btn, .form-group {
    width: 100%;
}

#inicio .btn {
    background-color: rgb(44, 139, 255);
    border: none;
    color: #fff;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transform-style: preserve-3d;
    transition: all 150ms cubic-bezier(.175, .885, .32, 1.275);
}

#inicio .btn:before {
    border-radius: 8px;
    box-shadow:
      2 2 2 2px #000000,
      0 2 0 0 rgba(color, .6);
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: translate3d(0, .75em, -1em);
    transition: all 150ms cubic-bezier(.175, .885, .32, 1.275);
    width: 100%;
}

#inicio .btn:hover {
    transform: translate(0, .25em);
  }

#inicio .btn:active {
    background: #000000;
    transform: translate(0, .75em);
  }

#inicio form div {
    padding: 5px;
}

#inicio form input {
    color: #fff;
    background-color:  rgba(85, 161, 255, 0.427);
    border: 2px solid #000000;
}

#inicio form input:focus {
    color: #fff;
    background-color:  rgba(85, 161, 255, 0.427);
    border: 2px solid #000000;
}

#inicio form input::placeholder{
    color: #fff;
}
  
.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #222222;
    color: #fff;
    font-weight: bold;
    position: fixed;
    top: 0px;
    left: 0;
    z-index: 1;
    overflow-x: hidden;
    padding-top: 0px;
}

.sidebar h1 {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    margin-bottom: 25px;
}

.buttons {
    padding-top: 20px;
}


.buttons a {
    position: center;
    display: block;
    text-align:justify;
    width: 100%;
    padding: 20px;
    margin-bottom: 0px;
    color:#ffffff;
    cursor: pointer;
    border-bottom: 2px solid #292929ce;
    border-top: 2px solid #292929ce;
    background-color: transparent;
}

.buttons a:last-child {
    border-top: none;
}

.buttons img.img-perfil {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    vertical-align: middle;
    margin-top: 25px;
    margin-left: 30%;
    margin-bottom: 5px;
    align-content: center;
  }

.buttons a:hover {
    color:#ffffff;
    background-color: rgb(67, 67, 67);
}

.corner-button {
    font-weight: bold;
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #2222225c;
    color: white;
    padding: 7px 10px;
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    text-decoration: none;
}

.corner-button:hover {
    background-color: rgba(44, 139, 255, 0.712);
}

.content {
    flex: 1;
    padding: 20px;
    color: #333;
    display: flex;
    margin-top: 50px;
    align-items: center;
}

.content h2 {
    text-align: center;
    color: #fff;
    border-bottom: 3px solid  rgb(44, 139, 255);
    padding-bottom: 15px;
    margin-bottom: 20px;
    font-weight: bold;
}

.content form {
    background: #00000098;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-right: 100px;
    margin-left: 340px;
}

.content form label {
    margin-top: 15px;
    margin-left: 5px;
    color: #fff;
}
.content form input {
    display: block;
    margin-bottom: 0px;
    color: #fff;
    background-color:  rgba(85, 161, 255, 0.427);
    border: 2px solid #000000;
}

.content form input:focus {
    color: #ffffff;
    background-color:  rgba(128, 185, 255, 0.427);
    border: 1px solid #1d1d1d;
}

.content form input::placeholder{
    color: #fff;
}

.content form textarea {
    height: 100px;
    display: block;
    margin-bottom: 0px;
    color: #fff;
    background-color:  rgba(85, 161, 255, 0.427);
    border: 2px solid #000000;
}

.content form textarea:focus {
    color: #ffffff;
    background-color:  rgba(128, 185, 255, 0.427);
    border: 1px solid #1d1d1d;
}

.content form textarea::placeholder{
    color: #fff;
}

.content .btn, .form-group {
    width: 100%;
}

.content .btn {
    background-color: rgb(44, 139, 255);
    border: none;
    color: #fff;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transform-style: preserve-3d;
    transition: all 150ms cubic-bezier(.175, .885, .32, 1.275);
}

.content .btn:before {
    border-radius: 8px;
    box-shadow:
      2 2 2 2px #000000,
      0 2 0 0 rgba(color, .6);
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: translate3d(0, .75em, -1em);
    transition: all 150ms cubic-bezier(.175, .885, .32, 1.275);
    width: 100%;
}

.content .btn:hover {
    transform: translate(0, .25em);
}

.content .btn:active {
    background: #000000;
    transform: translate(0, .75em);
}


.content input[type="file"] {
    padding: 10px;
    width: auto;
    border-radius: 5px;
    font-size: 14px;
}

.conteudo {
    padding: 20px;
    color: #333;
    margin-left: 260px;
    margin-top: 0px;
    align-items: center;
}

.conteudo a {
    text-decoration: none;
}

.grid-meusfilmes {
    margin-top: 0px;
    height: 100%;
}

.grid-filmes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 20px;
    justify-items: center;
}

.grid-meusfilmes .grid-filmes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 20px;
    justify-items: left;
}

.filme {
    position: relative;
    display: inline-block;
    text-align: center;
}

.grid-meusfilmes .filme {
    position: relative;
    display: inline-block;
    text-align: center;
}

.filme img {
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.grid-meusfilmes .filme img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.filme p {
    color: #fff;
    padding: 7px;
    font-size: 16px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color:  rgba(44, 139, 255, 0.744);
    font-weight: bold;
}

.grid-meusfilmes .filme p {
    margin-top: -6px;
    color: #fff;
    padding: 7px;
    font-size: 16px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color:  rgba(255, 255, 255, 0);
    font-weight: bold;
}

.titulo {
    margin-top: 20px;
    font-size: 26px;
    color: rgb(255, 255, 255);
    text-align: left;
    border-bottom: 3px solid  rgba(44, 139, 255, 0.648);
    padding-bottom: 5px;
    margin-bottom: 20px;
    font-weight: bold;
}

.grid-meusfilmes .titulo {
    font-size: 26px;
    color: rgb(255, 255, 255);
    text-align: left;
    border-bottom: 3px solid  rgba(255, 255, 255, 0.795);
    padding-bottom: 5px;
    margin-bottom: 20px;
    font-weight: bold;
}

.alert-add {
    margin-left: 270px;
    margin-right: 20px;
}

.popup {
    display: none;
    position: absolute;
    background-color: rgb(237, 237, 237);
    width: 250px;
    border: 4px solid #89898900;
    border-radius: 4px;
    z-index: 2;
}

.popup .filme-titulo {
    color: #000000;
    margin-bottom: 7px;
    font-size: 16px;
    border-radius: 0px;
    cursor: default;
    background-color: rgba(0, 0, 0, 0.096);
    font-weight: bold;
}

.popup .filme-infos {
    border-radius: 0%;
    text-align: left;
    color: #000000;
    margin-top: -1px;
    margin-bottom: -4px;
    font-size: 13px;
    cursor: default;
    background-color: rgba(0, 0, 0, 0);
    font-weight: bold;
}

.popup-left {
    left: -240px;
    top: 95px;
    box-shadow: -4px 4px 8px rgb(46, 46, 46);
    transform: translateY(-50%);
}

.popup-left::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 100%;
    border-style: solid;
    border-width: 10px 0 10px 12px;
    border-color: transparent transparent transparent rgb(237, 237, 237);
}

.p-border-bottom {
    border-bottom: 1px solid  rgba(0, 0, 0, 0.716);
}

.adicionar {
    display: block;
    border-width: 1px;
    border-color: rgb(0, 0, 0);
    background-color: rgba(49, 142, 255, 0.645);
    margin-top: 13px;
    margin-left: 0;
    margin-bottom: 5px;
    color: rgb(13, 13, 13);
    padding: 5px 20px;
    cursor: pointer;
    border-radius: 4px;
    font-weight: bold;
    pointer-events: auto;
    box-shadow: 0 4px 3px rgba(0, 0, 0, 0.2);
}

.adicionar.clicked {
    transform: scale(0.95);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.contador {
    width: 35px;
    height: 35px;
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: #bdb000;
    color: #000000;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
    font-size: 21px;
    z-index: 1;
    font-weight: bold;
    transition: opacity 0.3s ease-in-out;
}

.contador::before {
    content: '';
    position: absolute;
    top: -2px;
    right: -2px;
    bottom: -2px;
    left: -2px;
    border-radius: 50%;
    border: 3px solid #ffffff;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
  
.contador::before,
.contador {
    opacity: 1;
}

.conteudo-principal {
    margin-left: 370px;
    margin-top: 80px;
}

.conteudo-principal a {
    text-decoration: none;
}

.info-filme img {
    width: 200px;
    height: 100%;
    border: 5px solid #fff;
    border-radius: 4px;
}

.filme-dados {
    padding: 20px;
    margin-left: -20px;
    margin-right: 100px;
    margin-top: 5px;
    background-color: #00000092;
}

.filme-dados p {
    margin-top: -5px;
    color: #fff;
    margin-left: 210px;
}

.filme-dados .tempo {
    border-bottom: 2px solid rgba(77, 157, 255, 0.859);
    padding-bottom: 20px;
}

.filme-dados .sinopse {
    margin-left: 0px;
    margin-top: 120px;
    padding: 8px;
    border-radius: 7px;
    border: 2px solid rgb(63, 127, 205);
}

.info-filme h2 {
    font-weight: bold;
    color: #fff;
    margin-top: -320px;
    margin-left: 205px;
}

.info-filme h2 span {
    padding: 4px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 4px;
    background-color: rgb(63, 127, 205);
}

.adicionar-movie-page {
    display: block;
    border-width: 1px;
    border-color: rgb(0, 0, 0);
    background-color: rgb(22, 127, 255);
    margin-top: 8px;
    margin-left: 3px;
    margin-bottom: 0;
    color: #fff;
    padding: 5px 50px;
    cursor: pointer;
    border-radius: 4px;
    font-weight: bold;
    pointer-events: auto;
}

.adicionar-movie-page.clicked {
    transform: scale(0.95);
    box-shadow: 0 0 5px rgb(0, 0, 0);
}
